<p>aiport-new works!</p>
<div class="col-md-12 mt-3">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <p *ngIf="status != 'success'">
      Agrega un aeropuerto y has crecer tu mercado.
  </p>
  <hr />

  <div class="alert alert-danger col-md-8" *ngIf="status == 'error'">
      El aeropuerto se ha agregado correctamente, puede que el nombre ya este en uso!!
  </div>
  <!--Formulario de crear airport-->

  <form #airportForm="ngForm" (ngSubmit)="onSubmit(airportForm)" class="col-md-8">

      <div class="form-group">
          <label for="name">Nombre del Aeropuerto</label>
          <input type="text" name="name" class="form-control"  maxlength="45" #name="ngModel" [(ngModel)]="airport.name"
              required pattern="[A-Za-z0-9]+">

          <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
              El nombre del aeropuerto no es válido
          </small>
      </div>

      <div class="form-group">
        <label for="city">Nombre de la cuidad</label>
        <input type="text" name="city" class="form-control"  maxlength="45" #city="ngModel" [(ngModel)]="airport.city"
            required pattern="[A-Za-z0-9]+">

        <small *ngIf="!city.valid && city.touched" class="invalid-feedback d-block">
            El nombre de la cuidad no es válido
        </small>
    </div>

    <div class="form-group">
      <label for="country">Nombre del pais</label>
      <input type="text" name="country" class="form-control"  maxlength="45" #country="ngModel" [(ngModel)]="airport.country"
          required pattern="[A-Za-z0-9]+">

      <small *ngIf="!country.valid && country.touched" class="invalid-feedback d-block">
          El nombre del pais no es válido
      </small>
  </div>
      <hr />
     <br />
      <input type="submit" value="Guardar" class="btn btn-success" [disabled]="airportForm.invalid" />
  </form>

  <br>
</div>
