.blog_title{
 width: 75%;
 flex-shrink: 0;
 height: 40%;
 background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
 box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
 border-radius: 20px;
 transform: translateX(-30px);

 overflow: hidden;

}after {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
   border-radius: 20px;
 opacity: 0.8;
}

 img {
   width: 100%;
 height: 100%;
 object-fit: cover;
   display: block;
    opacity: 0;
   border-radius: 20px;
 transition: all .3s;
 }
