<div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded"
  style="background-image:url('https://www.nacion.com/resizer/KKBeqpR6_xxol6asPYBR74h0G14=/1200x0/center/middle/filters:quality(100)/arc-anglerfish-arc2-prod-gruponacion.s3.amazonaws.com/public/K43LGL44KJBQJLRTAG6MVQC3AU.jpg');
   height: 75vh;">
</div>
<div class="container max-w-5xl mx-auto -mt-32">
  <h6 class="text-6xl font-bold p-4 text-white text-left md:text-center">Vuelos</h6>
  <p class="flex-grow font-bold text-white text-left md:text-center ">Revise toda la información de vuelos
     en tiempo real</p>

	<div class="col-span-12">
		<div class="overflow-auto lg:overflow-visible ">

      <div class="px-4 py-4 flex my-2 rounded-lg shadow" *ngFor="let flight of flightsPrice">
        <p class="text text-sm font-bold p-2 w-1/5 bg-gray-800 text-gray-500 md:text-center">Vuelos con Destino a España</p>
       <h3 class="text-xl font-semibold pb-4 text-center">Precio promedio, {{flight.promedio}}</h3>

      </div>
			<table class="table text-gray-400 border-separate space-y-6 text-sm">
				<thead class="bg-gray-800 text-gray-500">
					<tr>
						<th class="p-3">Pais</th>
						<th class="p-3 text-left">Cuidad</th>
						<th class="p-3 text-left">Fecha</th>
					</tr>
				</thead>
				<tbody>
            <tr class="bg-gray-800 text-gray-500"  *ngFor="let flight of flights" >
              <td>{{flight.country}}</td>
              <td>{{flight.city}}</td>
              <td>{{flight.assignedDate}}</td>

          </tr>
				</tbody>
			</table>
		</div>
	</div>

  <a class="text-gray-400 hover:text-green-200  mx-2">
    <button [routerLink]="['/crear-vuelo']"  class="material-icons-outlined text-base">agregar vuelo</button>
  </a>

	<div class="col-span-12">
		<div class="overflow-auto lg:overflow-visible ">

      <p class="text text-sm font-bold p-2 w-1/5 bg-gray-800 text-gray-500 md:text-center">Oferta de Vuelos a Costa Rica</p>
			<table class="table text-gray-400 border-separate space-y-6 text-sm">
				<thead class="bg-gray-800 text-gray-500">
					<tr>
						<th class="p-3">Salida</th>
						<th class="p-3 text-left">Precio del tiquete</th>
						<th class="p-3 text-left">Tiempo estimado</th>
            <th class="p-3 text-left">Aerolinea</th>
					</tr>
				</thead>
				<tbody>
            <tr class="bg-gray-800 text-gray-500"  *ngFor="let flight of flightsOffers" >
              <td>{{flight.departure}}</td>
              <td>{{flight.price_ticket}}</td>
              <td>{{flight.estimated_time}}</td>
              <td>{{flight.airline_name}}</td>

          </tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
