<!--image-->
<div class="flex items-center justify-center min-h-screen bg-no-repeat bg-cover">

<!--Container-->
<div class="col-span-12">
  <h6 class="text-6xl font-bold p-4 text-white text-left md:text-center">
    Catalogo de Vuelos
  </h6>
  <p class="flex-grow font-bold text-white text-left md:text-center">
    Esta es la lista del catalogo de vuelos.
  </p>
  <div class="overflow-auto lg:overflow-visible ">
    <table class="table text-gray-400 border-separate space-y-6 text-sm" >
      <thead class="bg-gray-800 text-gray-500">
        <tr>
          <th class="p-3">Aerolinea</th>
          <th class="p-3 text-left">Duracion</th>
          <th class="p-3 text-left">Destino</th>
          <th class="p-3 text-left">Salida</th>
          <th class="p-3 text-left">Estado</th>
          <th class="p-3 text-left" *ngIf="token != null">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-500 text-gray-200" *ngFor="let flightCatalog of flightCatalogs">
          <td class="p-3">
            {{flightCatalog.Aerolinea}}
          </td>
          <td class="p-3">
            {{flightCatalog.Duracion}}
          </td>
          <td class="p-3 font-bold">
            {{flightCatalog.Destino}}
          </td>
          <td class="p-3 font-bold">
            {{flightCatalog.Salida}}
          </td>
          <td class="p-3">
            <span class="text-gray-50 rounded-md px-2"
            [ngStyle]="{'bg-green-500':flightCatalog.Estado === 'Active' ? 'bg-green-700' : 'red-700'}" >{{flightCatalog.Estado}}</span>
          </td>

          <td class="text-center p-3" *ngIf="token != null">

            <a class="text-red-400 hover:text-red-800 mx-2">
              <button
              (click)="deleteflightCatalog(flightCatalog.Codigo)"
                class="material-icons-outlined text-base"
              >
                <fa-icon [icon]="Delete"></fa-icon>
              </button>
            </a>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
