<!--image-->
<div class="flex items-center justify-center min-h-screen bg-no-repeat bg-cover" style="background-image:url(
https://img3.wallspic.com/previews/5/4/2/4/6/164245/164245-airplane-flight-aircraft-airport-takeoff-x750.jpg
)">

<!--Container-->
<div class="col-span-12">
  <div class="overflow-auto lg:overflow-visible ">
    <table class="table text-gray-400 border-separate space-y-6 text-sm" >
      <thead class="bg-gray-800 text-gray-500">
        <tr>
          <th class="p-3">Aerolinea</th>
          <th class="p-3 text-left">Duracion</th>
          <th class="p-3 text-left">Destino</th>
          <th class="p-3 text-left">Salida</th>
          <th class="p-3 text-left">Estado</th>
          <th class="p-3 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-800 text-gray-500" *ngFor="let flightCatalog of flightCatalogs">
          <td class="p-3">
            {{flightCatalog.aerolinea}}
          </td>
          <td class="p-3">
            {{flightCatalog.duracion}}
          </td>
          <td class="p-3 font-bold">
            {{flightCatalog.destino}}
          </td>
          <td class="p-3 font-bold">
            {{flightCatalog.salida}}
          </td>
          <td class="p-3">
            <span class="text-gray-50 rounded-md px-2">{{flightCatalog.status}}</span>
          </td>
          <td class="p-3 " *ngIf="identity.role == 'ADMIN'">
            <a class="text-gray-400 hover:text-gray-100  mx-2">
              <button (click)="deleteflightCatalog(flightCatalog.id)" class="material-icons-outlined text-base">eliminar</button>
            </a>
          </td>
          <td class="p-3 " *ngIf="identity.role == 'ADMIN'">
            <a class="text-gray-400 hover:text-green-200  mx-2">
              <button [routerLink]="['/crear-catalogoVuelo']"  class="material-icons-outlined text-base">agregar</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
