<!--image-->
<div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded" style="
    background-image: url('https://www.nacion.com/resizer/KKBeqpR6_xxol6asPYBR74h0G14=/1200x0/center/middle/filters:quality(100)/arc-anglerfish-arc2-prod-gruponacion.s3.amazonaws.com/public/K43LGL44KJBQJLRTAG6MVQC3AU.jpg');
    height: 75vh;
  "></div>

<!--Container-->
<div class="container max-w-5xl w-2/3 h-screen flex items-center mx-auto -mt-32">
  <h6 class="text-6xl font-bold p-4 text-white text-left md:text-center">
    Avion
  </h6>
  <p class="flex-grow font-bold text-white text-left md:text-center">
    Esta es la lista de aviones que estan registrados.
  <div class="p-6 border rounded-t-lg bg-gray-100">
  <div class="flex flex-wrap -mx-2">

    <div class="w-1/3 px-2">
      <div class="bg-white px-4 py-4 flex my-2 rounded-lg shadow" *ngFor="let airplane of airplanes">
        <div class="w-24 pr-5">
          {{ airplane.airline }}
        </div>
        <div class="flex-1">
          <h2 class="font-bold text-gray-700 my-0">{{ airplane.model }}</h2>
        </div>
        <div class="flex-1">
          <h2 class="font-bold text-gray-700 my-0">{{ airplane.desing }}</h2>
        </div>
        <div class="flex-1">
          <h2 class="font-bold text-gray-700 my-0">{{ airplane.capacity }}</h2>
        </div>
      </div>
    </div>
    <a class="text-gray-400 hover:text-green-200 mx-2" >
      <button [routerLink]="['/crear-avion']" class="material-icons-outlined text-base">
        agregar
      </button>
    </a>
  </div>
</div>
</div>
