<div class="container max-w-5xl w-2/3 h-screen flex items-center mx-auto -mt-32">
  <h6 class="text-6xl font-bold p-4 text-white text-left md:text-center">
    Empleados
  </h6>
  <p class="flex-grow font-bold text-white text-left md:text-center">
    Esta es la lista de empleados que estan registrados.
    <div class="p-6 border rounded-t-lg bg-gray-100"></div>
  <div class="flex flex-wrap -mx-2">

    <div class="w-1/3 px-2">
      <div class="bg-white px-4 py-4 flex my-2 rounded-lg shadow" *ngFor="let employee of employees">
        <div class="w-24 pr-5">
          {{ employee.id }}
        </div>
        <div class="flex-1">
          <h2 class="font-bold text-gray-700 my-0">{{ employee.name }}</h2>
        </div>
        <div class="flex-1">
          <h2 class="font-bold text-gray-700 my-0">{{ employee.surname }}</h2>
        </div>
        <div class="flex-1">
          <h2 class="font-bold text-gray-700 my-0">{{ employee.airport }}</h2>
        </div>
      </div>
    </div>
    <a class="bg-green-600 text-gray-400 hover:text-green-200 mx-2">
      <button [routerLink]="['/registrar-aerolinea']" class="material-icons-outlined text-base">
        <fa-icon [icon]="Add"></fa-icon> Agregar
      </button>
    </a>
  </div>
</div>
