<section>
  <div>
    <div>
      <div class="w-full">
        <div class=" bg-gray-100">
          <div class="container-aeropuerto">
            <div
              class="aero margin: 10px"
              *ngFor="let airport of airports"
            >
              <blockquote class="shadow" >
                <p class=" font-light mt-2 text-black">
                  {{ airport.name }}, {{ airport.country }}, {{ airport.city }}
                </p>
                <br>                
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <a class="bg-green-600 text-gray-400 hover:text-green-200 mx-2">
        <button
          [routerLink]="['/registrar-aeropuerto']"
          class="material-icons-outlined text-base"
        >
          <fa-icon [icon]="Add"></fa-icon>agregar aeropuerto
        </button>
      </a>
    </div>
  </div>
</section>
